body {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 25px 0px;
  padding: 45px;
  position: relative;
}
li {
  float: left;
  display: inline;
}

li a {
  display: block;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}

.nav1 {
  background-color: darkslategrey;
  color: white;
  padding: 10px;
  margin: -8px -10px;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
}

.fa-search {
  position: absolute;
  top: 67px;
  right: 445px;
}
.search {
  border: 1px solid white;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 5px;
  padding-left: 45px;
  width: 150px;
}

.search:hover {
  border: 1px solid black;
}

.fa-user-circle {
  font-size: 23px;
  position: relative;
  left: 45px;
  top: 2px;
}
.login {
  position: relative;
  left: 719px;
  top: 22px;
  font-family: sans-serif;
  font-size: 15px;
}

.fa-shopping-cart {
  font-size: 27px;
  position: relative;
  left: 137px;
}
.frais {
  text-transform: uppercase;
  font-size: 34px;
  /* text-align: center; */
  text-decoration: none;
  color: black;
  margin: 0px 127px;
  padding: 0px 22px;
  border: 3px solid black;
  font-family: system-ui;
}
.head-h3 {
  color: black;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  position: absolute;
  left: 447px;
  bottom: 203px;
  font-family: system-ui;
  font-weight: 100;
}
.head-h1 {
  color: black;
  position: absolute;
  font-size: 67px;
  left: 443px;
  top: 349px;
  font-family: system-ui;
  font-weight: 100;
  width: 535px;
}
.page1 {
  background-image: url("../img/cacndlespint..jpg");
  background-color: white;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 888px 902px;
  /* padding-bottom: 1009px; */
  height: 883px;
  width: 100%;
}
.icon-class {
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 22px;
  margin: 21px;
}
.shop-button {
  background-color: darkslategrey;
  color: white;
  position: absolute;
  left: 590px;
  top: 598px;
  display: inline-block;
  padding: 15px 32px;
}

.page2 {
  background-image: url("../img/candle..jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 719px;
  margin-right: 60px;
}

.shop {
  text-align: center;
  margin: 100px;
  font-family: system-ui;
  font-size: 35px;
  letter-spacing: 8px;
  position: relative;
  font-weight: 100px;
  left: 134px;
  font-weight: 100;
}

.nature {
  font-family: system-ui;
  font-size: 33px;
  font-weight: 100;
  letter-spacing: 6px;
  width: 400px;
  margin-left: 120px;
}

.nautrepara {
  width: 400px;
  margin-left: 120px;
  font-family: system-ui;
  font-weight: 100;
  font-size: large;
}

.para-div {
  position: relative;
  width: 70%;
  padding-left: 200px;
}

.candle-button {
  color: black;
  display: inline-block;
  padding: 9px 22px;
  margin-left: 240px;
  background-color: white;
  font-family: system-ui;
  transition-duration: 0.4s;
  cursor: pointer;
}

.page3 {
  background-image: url(../img/blank.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 298px;
  height: 662px;
  margin-left: 228px;
  margin-top: -21px;
  width: 80%;
}
.img-1 {
  background-image: url(../img/cleansingbar.jpg);
  background-image: url(../img/cleansingbar.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 424px;
  height: 576px;
  margin-left: 42px;
}

.page3-h3 {
  text-align: center;
  width: 98px;
  padding-left: 453px;
  padding-top: 74px;
  font-size: 25px;
  font-family: system-ui;
  font-weight: 300;
  letter-spacing: 10px;
}
.page3-p {
  width: 274px;
  padding-left: 457px;
  padding-top: 21px;
  font-family: system-ui;
  font-weight: 100;
  font-size: 17px;
}
.page3-button {
  color: black;
  display: inline-block;
  padding: 9px 21px;
  margin-left: 457px;
  background-color: white;
  font-family: system-ui;
  margin-top: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.page5-h2 {
  text-align: center;
  font-size: 40px;
  font-family: system-ui;
  font-weight: 400;
  padding-top: 80px;
  letter-spacing: 6px;
  font-family: system-ui;
}

.page5-p {
  width: 610px;
  font-family: system-ui;
  font-weight: 100;
  font-size: 18px;
  padding-left: 394px;
  padding-top: 21px;
}

.page5-button {
  color: black;
  display: inline-block;
  padding: 8px 31px;
  margin-left: 605px;
  background-color: white;
  font-family: system-ui;
  margin-top: 17px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.page5-button:hover {
  background-color: darkslategrey;
  color: white;
}

.page5-bg-img {
  height: 454px;
  width: 700px;
  padding-left: 314px;
  padding-top: 67px;
}

.page5-bg-img2 {
  height: 517px;
  width: 485px;
  padding-left: 433px;
  padding-top: -53px;
  margin-top: -357px;
}
.page6 {
  background-color: lavender;
  height: 1000px;
  width: 100%;
  margin-top: 100px;
}

.page6-h2 {
  text-align: center;
  font-size: 40px;
  font-family: system-ui;
  font-weight: 400;
  padding-top: 80px;
  letter-spacing: 6px;
  font-family: system-ui;
}

.card {
  transition: 0.3s;
  width: 263px;
  margin: 0px 104px;
  margin-top: 85px;
  background-color: white;
}
.container {
  padding: 2px 16px;
}

.card-wrapper {
  display: flex;
}

.img-page6 {
  height: 368px;
  width: 263px;
}
.page6-p1 {
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
}

.page6div:hover {
  opacity: 0.7;
}

.page6-p2 {
  font-family: system-ui;
  font-weight: 100;
  font-size: 16px;
}

.page6-button {
  color: white;
  display: inline-block;
  padding: 8px 31px;
  margin-left: 644px;
  background-color: darkslategrey;
  font-family: system-ui;
  margin-top: 70px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.page6-button:hover {
  background-color: lightgrey;
  color: black;
}

.frais-button {
  border: 2px solid black;
  background-color: white;
  display: inline-block;
  padding: 10px 27px;
  margin-left: 172px;
  margin-top: 245px;
  font-size: 28px;
  cursor: pointer;
}

.page7 {
  height: 600px;
  width: 100%;
  display: flex;
}

.box-title {
  text-align: center;
  font-size: 30px;
  font-family: system-ui;
  font-weight: 400;
  font-family: system-ui;
}
.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.box1 {
  height: 100%;
  width: 30%;
}
.box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box a {
  cursor: pointer;
  color: black;
  text-align: center;
  font-family: system-ui;
  font-weight: 400;
}

.foot {
  font-family: system-ui;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  background-color: darkslategrey;
}

.shop-page-h1 {
  text-align: center;
  font-family: system-ui;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.shop-page-card {
  background-color: white;
  height: 486px;
  width: 405px;
  position: relative;
}

.shop-page-card:hover .shop-card-span {
  display: flex;
}

.shop-div-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 60px;
}

.shop-page-card img {
  height: 80%;
  width: 82%;
}

.shop-page-card h1 {
  margin: 0px;
  font-family: system-ui;
  font-size: 17px;
  font-weight: 400;
}
.shop-page-card p {
  margin: 0px;
  font-family: system-ui;
  font-size: 15px;
  font-weight: 100;
  opacity: 0.02px;
}
.shop-card-span {
  position: absolute;
  color: black;
  background-color: white;
  width: 338px;
  top: 350px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}

.sale-span {
  background-color: darkslategray;
  color: white;
  position: absolute;
  left: 1px;
  padding: 12px 22px;
}

.a {
  color: black;
}
